/*OVERALL CSS SYTLING*/

 */
html {

  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;

}



/*
 * Global layout stuff
 */

body {

  margin: 0;
  color: #244751;
  background-color: #B8FFBD;
  font-family: 'Roboto', sans-serif;


}

.container {
  width: 550px;
  margin: auto;
  background-color: white;
  padding-top: 70px;
  padding-bottom:100%;
  border-top:140px;
}


